[include]
    path = ~/.gitconfig.common

# Default to work settings on work computer
[includeIf "gitdir:~/Developer/Coveo_code/"]
    path = ~/.gitconfig.work

[includeIf "gitdir:~/Developer/worktrees/github.com/coveo-platform/"]
    path = ~/.gitconfig.work

[includeIf "gitdir:~/Developer/worktrees-admin/github.com/coveo-platform/"]
    path = ~/.gitconfig.work

# Use personal settings for specific directories
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig.jonfk

[includeIf "gitdir:/Users/jfokkan/Developer/jonfk_code/"]
    path = ~/.gitconfig.jonfk

[includeIf "gitdir:/Users/jfokkan/Developer/notes/"]
    path = ~/.gitconfig.jonfk
