[include]
    path = ~/.gitconfig.common

# Default to work settings on work computer
[include]
    path = ~/.gitconfig.work

# Use personal settings for specific directories
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig.jonfk

[includeIf "gitdir:~/Developer/jonfk_code/"]
    path = ~/.gitconfig.jonfk

[includeIf "gitdir:~/Developer/jonfk_notes/"]
    path = ~/.gitconfig.jonfk
