dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
astronvim

openai-codex/.codex/auth.json
openai-codex/.codex/internal_storage.json
openai-codex/.codex/history.jsonl
openai-codex/.codex/log/
openai-codex/.codex/sessions/
openai-codex/.codex/version.json
