[Unit]
Description=xremap key remapping daemon
After=network.target

[Service]
Type=simple
# Run as root
User=root
# The actual command with full paths
ExecStart=/usr/local/bin/xremap /home/jonfk/dotfiles/xremap/config.yml --device 'Logitech MX Keys' --device event18 --device 'Apple Inc. Magic Keyboard'
# Restart on failure
Restart=on-failure
# Wait 5 seconds before restart
RestartSec=5
# Make sure the service keeps running
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
